
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>It will be awesome birthday party!!</h2>
    <h3>And you are invited too!</h3>
    @Html.ActionLink("You Coming?","DavetiyeFormu",null,new { @class="btn btn-primary"})
</div>

